<%= simple_form_for(@pin,html: { class: "container" }) do |f| %>
  <%= f.error_notification %>

  <div class="input-group">
    <%= f.input :description, as: :text, input_html: {rows: "3"} %>
  </div>

  <div class="well well-lg">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
