<% if user_signed_in? %>

<% else %>
<div class="jumbotron">
<h1>Bienvenidos a Pinterest</h1>
<p>
  You've Found the home page of One Month Rails Aplication
  <%= link_to "One Month rails", "https://onixmediadesign.com" %>
</p>
    <p>
<%= link_to "Sign Up Now ", new_user_registration_path, class: "btn btn-primary btn-large"%>
   </p>

</div>
<% end %>
